@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Sono:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Jura", sans-serif;
  --font-mono: "Sono", sans-serif;
  --scanlines: scanlines 2s linear infinite;
  --flicker: flicker 3s infinite alternate;

  @keyframes scanlines {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 100%;
    }
  }

  @keyframes flicker {
    0% {
      opacity: 0.01;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}

@layer utilities {
  .animate-scanlines {
    animation: scanlines 8s linear infinite;
  }
  
  .animate-flicker {
    animation: flicker 0.03s infinite alternate-reverse;
  }
}

@layer components {
  .crt-button {
    @apply bg-zinc-900 text-[#33ff33] border border-[#33ff33] px-4 py-2 cursor-pointer 
           shadow-[0_0_5px_rgba(51,255,51,0.7)] 
           hover:bg-zinc-700 hover:shadow-[0_0_10px_rgba(51,255,51,0.5)];
  }

  .crt-input {
    @apply bg-[rgba(0,0,0,0.5)] border border-[#33ff33] p-3 text-[#33ff33] 
           font-mono focus:outline-none focus:shadow-[0_0_10px_rgba(51,255,51,0.5)];
  }

  .crt-card {
    @apply border border-[#33ff33] p-5 rounded transition-all hover:shadow-[0_0_15px_rgba(51,255,51,0.3)];
  }

  .bg-background {
    @apply bg-zinc-900;
  }

  .nav-link {
    @apply px-3 py-2 uppercase tracking-wider transition-all rounded-md;
  }

  .nav-link-active {
    @apply border border-[#33ff33] shadow-[0_0_8px_rgba(51,255,51,0.5)];
  }
  .nav-link-text {
    @apply text-sm text-[#24d524db] px-2 py-1 uppercase tracking-wider;
  }

  .nav-link-text:hover {
    @apply text-[#33ff33];
  }
}
